@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Risque&family=Sancreek&display=swap');


.aladin-regular {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sancreek-regular {
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
}

.risque-regular {
  font-family: "Risque", serif;
  font-weight: 400;
  font-style: normal;
}


.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}
